.container {
    padding-top: 150px;
    max-width: 48rem;
    margin: 2rem auto;
    padding: 2rem;
}

.form_container {
    display: flex;
    gap: 1rem;
    margin-bottom: 2rem;
}

// input {
//     flex: 1;
//     padding: 0.5rem;
//     border: 1px solid #ccc;
// }

// button {
//     padding: 0.5rem 1rem;
//     background: #333;
//     color: #fff;
// }
