.file-preview-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.files {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

.preview_image {
    object-fit: cover;
}
