@use "../../style/styles.module.scss" as s;

.weOffer {
  max-width: s.$container;
  margin: 0 auto;
  padding: s.$padding;
  overflow: hidden;
  @include s.mediaTo(1200px) {
    padding: 0 16px;
  }
  h2 {
    display: flex;
    gap: 20px;
    align-items: center;
    @include s.mediaTo(s.$size960) {
      gap: 6px;
    }
    .line {
      transform: translateY(-3px);
      width: 4px;
      height: 68px;
      background-color: s.$main-color;
      @include s.mediaTo(s.$size960) {
        height: 40px;
      }
    }
    b {
      color: s.$text_color;
      @include s.h2;

      .line1 {
        display: inline-block;
        white-space: pre-wrap;
        width: 100%;
      }
    }
  }
  .offerContainer {
    margin: 80px -16px;
    flex-wrap: wrap;

    @include s.display-center(flex-start, stretch);
    @include s.mediaTo(1300px) {
      margin: 80px -8px;
    }
    > div {
      width: 25%;
      padding: 16px;
      @include s.mediaTo(1300px) {
        padding: 8px;
      }
      @include s.mediaTo(1110px) {
        width: 33.33333%;
      }
      @include s.mediaTo(s.$size840) {
        width: 50%;
      }
      @include s.mediaTo(s.$size640) {
        width: 100%;
      }
      .offerElem {
        width: 100%;
        height: 100%;
        display: block;
        border: 1px solid s.$main-color;
        border-radius: 20px;
        background-color: s.$main-color;
        transition: s.$transition;
        text-decoration: none;
        &:hover .offer {
          transform: rotate(-5deg);
        }
        .offer {
          width: 100%;
          height: 100%;
          border: 1px solid s.$main-color;
          border-radius: 20px;
          background-color: s.$black;
          transition: s.$transition;
          position: relative;
          transition-timing-function: cubic-bezier(0, 2, 1, 2);
          padding: 55% 20px 40px;
          @include s.mediaTo(1110px) {
            padding: 50% 20px 30px;
          }
          @include s.mediaTo(s.$size640) {
            padding: 40% 20px 25px;
          }
          .round {
            background-color: #4bb74933;
            border-radius: 50%;
            padding: 18px 0 0 15px;
            position: absolute;
            top: 10px;
            right: 10px;
            width: 60px;
            height: 60px;
            @include s.mediaTo(s.$size480) {
              width: 70px;
              padding: 20px 0 0 15px;
              height: 70px;
            }
            .border {
              width: 28px;
              height: 28px;
              border-top: 8px solid s.$main-color;
              border-right: 8px solid s.$main-color;

              @include s.mediaTo(s.$size960) {
                border-top: 7px solid s.$main-color;
                border-right: 7px solid s.$main-color;
              }
              @include s.mediaTo(s.$size480) {
                width: 35px;
                height: 35px;
              }
            }
          }
          h3 {
            max-width: 245px;
            color: s.$text_color;
            text-transform: uppercase;
            font-size: 24px;
            line-height: 1.3em;
            text-decoration: none;
            @include s.mediaTo(1200px) {
              font-size: 24px;
            }
            @include s.mediaTo(s.$size480) {
              font-size: 20px;
            }
          }
        }
      }
    }
  }
}
